@use "./utilities/utilities" as utils;

.reveal {
    .hljs {
        min-height: auto;
    }

    :is(img, video, iframe) {
        min-width: 100%;
    }

    .slides {
        width: 100vw !important;
        height: 100vh !important;
        zoom: unset !important;
        inset: unset !important;
        transform: unset !important;
        @include utils.center;
    }
}

section {
    @include utils.section;
    @include utils.center;
    & * {
        margin: 0;
    }
}