@use "./utilities/utilities" as utils;

.reveal .slides {
    width: 100vw !important;
    height: 100vh !important;
    inset: unset !important;
    transform: unset !important;
    @include utils.center;
}

.reveal .slides section {
    @include utils.section;
    @include utils.center;

    // font-size: 1cqi;
    &>* {
        margin: 0 5px;
    }
}