.col {
    display: flex;
    width: 100%;

    &-center > :is(div, p) {
        text-align: center;
    }

    & > div {
        padding: 10px;
        width: 50%;
        height: 100%;
        flex-grow: 1;
    }    
}