section {
  color: white;
  background-color: black;
}
section a,
section mark {
  color: red;
}
section h1 strong, section h2 strong, section h3 strong, section h4 strong, section h5 strong, section h6 strong {
  color: red;
}
section h1 img, section h2 img, section h3 img, section h4 img, section h5 img, section h6 img {
  display: block;
  margin: auto;
}
section header,
section footer,
section section::after,
section blockquote::before,
section blockquote::after {
  color: #cccccc;
}
section table th, section table td {
  border-color: white;
}
section table thead th {
  background: white;
  color: black;
}
section table tbody > tr:nth-child(odd) td, section table tbody > tr:nth-child(odd) th {
  background: rgba(255, 255, 255, 0.1);
}
section.invert {
  color: black;
  background-color: white;
}
section.invert a,
section.invert mark {
  color: red;
}
section.invert h1 strong, section.invert h2 strong, section.invert h3 strong, section.invert h4 strong, section.invert h5 strong, section.invert h6 strong {
  color: red;
}
section.invert h1 img, section.invert h2 img, section.invert h3 img, section.invert h4 img, section.invert h5 img, section.invert h6 img {
  display: block;
  margin: auto;
}
section.invert header,
section.invert footer,
section.invert section::after,
section.invert blockquote::before,
section.invert blockquote::after {
  color: #333333;
}
section.invert table th, section.invert table td {
  border-color: black;
}
section.invert table thead th {
  background: black;
  color: white;
}
section.invert table tbody > tr:nth-child(odd) td, section.invert table tbody > tr:nth-child(odd) th {
  background: rgba(0, 0, 0, 0.1);
}

h1 {
  color: red;
}
