.reveal .slides section.title {
  height: calc(100vh - 8vmin);
  margin: 4vmin;
  width: calc(100vw - 8vmin);
  top: 0 !important;
  margin-left: 22vw;
  width: calc(100vw - 4vmin - 22vw);
  font-size: 13px;
  background-color: red;
}
.reveal .slides section.title > div {
  display: grid !important;
  height: 100%;
  width: 100%;
  grid-template-areas: "logo logo" "titles titles" ". credit";
  grid-template-columns: auto 40%;
  grid-template-rows: 6vmin 1fr auto;
  box-sizing: border-box;
  padding: 10vmin;
}
.reveal .slides section.title > div p:has(img), .reveal .slides section.title > div .logo {
  grid-area: logo;
  width: 25vmin;
  margin: 0 !important;
  justify-self: left;
  align-self: center;
}
.reveal .slides section.title > div .titles {
  grid-area: titles;
  font-size: 20px;
  justify-self: left;
  align-self: center;
}
.reveal .slides section.title > div .credit {
  grid-area: credit;
}

.col {
  display: flex;
  width: 100%;
}
.col-center > :is(div, p) {
  text-align: center;
}
.col > div {
  padding: 10px;
  width: 50%;
  height: 100%;
  flex-grow: 1;
}
