@use "misc" as utils;

.card, .card-cover {
    @include utils.center;
    background-color: blue;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px !important;

    img {
        min-width: 100%;
        margin: 0;
    }

    %headings {
        margin: 1cqi 0!important;
    }

    p {
        font-size: 2cqi;
    }

    // Image only in card
    &:has(img) {
        img {
            min-height: 100%;
        }
    }

    // Img + Header only
    &:has(%headings):has(img) {
        img {
            min-height: 60%;
        }
    }

    // Others
    &:has(%headings):has(img):has(*) {
        img {
            min-height: 33%;
        }
    }
}

.card-cover {
    img {
        object-fit: cover;
    }
}