@use "misc" as utils;

.card {
    @include utils.center;
    background-color: blue;
    border-radius: 10px;
    overflow: hidden;

    &>*:not(img) {
        flex: 1 3 auto;
    }

    img {
        width: 100%;
        // height: 80%;
        object-fit: cover;
        margin: 0;
        flex: 2 1 auto;
        // flex-basis: 50%;
        // height: 50%;
    }

    @include utils.titles {
        margin: 0;
    }

    p {
        font-size: 2cqi;
    }
}