@use "../utilities/utilities" as utils;
@use "../utilities/breakpoints" as bk;

@mixin grid {
    display: grid !important;
    height: 100%;
    width: 100%;
}

@mixin align-left {
    justify-self: left;
    align-self: center;
}

.reveal .slides section.cover {
    @include utils.section(4vmax);

    @include bk.md {
        width: calc(100vw - 4vmin - 22vw);
        margin-left: 22vw;
    }

    display: grid !important;

    font-size: 13px;
    background: var(--color, $primary);

    grid-template-areas: "logo ."
    "titles titles"
    ". credit";
    grid-template-columns: auto 40%;
    grid-template-rows: 6vmin 1fr auto;

    justify-content: space-between;
    box-sizing: border-box;
    padding: 10vmin;

    img {
        grid-area: logo;
        width: 25vmin;
        margin: 0 !important;
        @include align-left;
    }

    .titles {
        grid-area: titles;
        font-size: 20px;
        @include align-left;
    }

    .credits {
        grid-area: credit;
    }
}