.card, .card-cover {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px !important;
}
.card img, .card-cover img {
  min-width: 100%;
  margin: 0;
}
.card p, .card-cover p {
  font-size: 2cqi;
}
.card:has(img) img, .card-cover:has(img) img {
  min-height: 100%;
}
.card-cover img {
  object-fit: cover;
}
