.rows {
  display: flex;
  gap: 10px;
}
.rows > * {
  flex-basis: 100%;
}

.card {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 10px;
  height: min(100%, 150px);
}
.card img {
  flex-basis: 50%;
}
.reveal .slides {
  width: 100vw !important;
  height: 100vh !important;
  inset: unset !important;
  transform: unset !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reveal .slides section {
  margin: 0;
  top: 0 !important;
  height: 100vh;
  width: 100vw;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1cqi;
}

.rows {
  display: flex;
  gap: 10px;
}

.rows > * {
  flex-basis: 100%;
}

.card {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 10px;
  height: min(100%, 150px);
}

.card img {
  flex-basis: 50%;
}

.reveal .slides section:has(div.cover) {
  margin: 4vmax;
  top: 0 !important;
  height: calc(100vh - 8vmax);
  width: calc(100vw - 8vmax);
  display: grid !important;
  font-size: 13px;
  background: var(--color, red);
  grid-template-areas: "logo logo" "titles titles" ". credit";
  grid-template-columns: auto 40%;
  grid-template-rows: 6vmin 1fr auto;
  box-sizing: border-box;
  padding: 10vmin;
}
@media screen and (min-width: 768px) {
  .reveal .slides section:has(div.cover) {
    width: calc(100vw - 4vmin - 22vw);
    margin-left: 22vw;
  }
}
.reveal .slides section:has(div.cover) img {
  grid-area: logo;
  width: 25vmin;
  margin: 0 !important;
  justify-self: left;
  align-self: center;
}
.reveal .slides section:has(div.cover) .titles {
  grid-area: titles;
  font-size: 20px;
  justify-self: left;
  align-self: center;
}
.reveal .slides section:has(div.cover) .credit {
  grid-area: credit;
}

.col {
  display: flex;
  width: 100%;
}
.col-center > :is(div, p) {
  text-align: center;
}
.col > div {
  padding: 10px;
  width: 50%;
  height: 100%;
  flex-grow: 1;
}

.rows {
  display: flex;
  gap: 10px;
}

.rows > * {
  flex-basis: 100%;
}

.card {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 10px;
  height: min(100%, 150px);
}

.card img {
  flex-basis: 50%;
}

.reveal .slides section.title {
  margin: 4vmax;
  top: 0 !important;
  height: calc(100vh - 8vmax);
  width: calc(100vw - 8vmax);
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: red;
}

.reveal .code-wrapper code {
  white-space: break-spaces;
}

.slide-number {
  font-size: 15px !important;
}

@media screen and (min-width: 0px) {
  .reveal h1 {
    font-size: 13px;
  }
}
@media screen and (min-width: 576px) {
  .reveal h1 {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .reveal h1 {
    font-size: 19px;
  }
}
@media screen and (min-width: 992px) {
  .reveal h1 {
    font-size: 23px;
  }
}
@media screen and (min-width: 1200px) {
  .reveal h1 {
    font-size: 25px;
  }
}
@media screen and (min-width: 1400px) {
  .reveal h1 {
    font-size: 27px;
  }
}
@media screen and (min-width: 0px) {
  .reveal h2 {
    font-size: 10px;
  }
}
@media screen and (min-width: 576px) {
  .reveal h2 {
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) {
  .reveal h2 {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  .reveal h2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .reveal h2 {
    font-size: 22px;
  }
}
@media screen and (min-width: 1400px) {
  .reveal h2 {
    font-size: 24px;
  }
}
.reveal {
  background: linear-gradient(-45deg, #A88BEB, #F8CEEC);
}
